.App {
  border : 2px solid blue;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

video{
  border : 2px solid red;
  display:flex;
  align-items: center;
  width : 70%;
  height : 40vh;
  margin-bottom: 2rem;
}
button{
  background-color: deepskyblue;
  height:2rem;
  width : 10%;
  font-size: 1.2rem;
}