.App {
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

video {
  display: flex;
  align-items: center;
   /* width: 80vw;
  height: 40vh;  */
  margin-bottom: 2rem;
}
.button {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 15%;
  font-size: 1rem;
 border: none;
}

.takePic{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: deepskyblue;
 
}
.reset {
  background-color: grey;
}
canvas{
  margin : 2rem;
  width: 80vw;
  height: 40vh; 
 /*  width:30%;
  height : 50%; */
}